ClienteWeb/src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/ServidorWebPractica/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/ServidorWebPractica/NewWebService?xsd=1" />
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="suma">
<part name="parameters" element="tns:suma" />
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse" />
</message>
<message name="programa">
<part name="parameters" element="tns:programa" />
</message>
<message name="programaResponse">
<part name="parameters" element="tns:programaResponse" />
</message>
<message name="resta">
<part name="parameters" element="tns:resta" />
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse" />
</message>
<message name="multiplicacion">
<part name="parameters" element="tns:multiplicacion" />
</message>
<message name="multiplicacionResponse">
<part name="parameters" element="tns:multiplicacionResponse" />
</message>
<message name="division">
<part name="parameters" element="tns:division" />
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="mateo">
<part name="parameters" element="tns:mateo" />
</message>
<message name="mateoResponse">
<part name="parameters" element="tns:mateoResponse" />
</message>
<portType name="NewWebService">
<operation name="login">
<input wsam:Action="http://WebService/NewWebService/loginRequest" message="tns:login" />
<output wsam:Action="http://WebService/NewWebService/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="suma">
<input wsam:Action="http://WebService/NewWebService/sumaRequest" message="tns:suma" />
<output wsam:Action="http://WebService/NewWebService/sumaResponse" message="tns:sumaResponse" />
</operation>
<operation name="programa">
<input wsam:Action="http://WebService/NewWebService/programaRequest" message="tns:programa" />
<output wsam:Action="http://WebService/NewWebService/programaResponse" message="tns:programaResponse" />
</operation>
<operation name="resta">
<input wsam:Action="http://WebService/NewWebService/restaRequest" message="tns:resta" />
<output wsam:Action="http://WebService/NewWebService/restaResponse" message="tns:restaResponse" />
</operation>
<operation name="multiplicacion">
<input wsam:Action="http://WebService/NewWebService/multiplicacionRequest" message="tns:multiplicacion" />
<output wsam:Action="http://WebService/NewWebService/multiplicacionResponse" message="tns:multiplicacionResponse" />
</operation>
<operation name="division">
<input wsam:Action="http://WebService/NewWebService/divisionRequest" message="tns:division" />
<output wsam:Action="http://WebService/NewWebService/divisionResponse" message="tns:divisionResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://WebService/NewWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://WebService/NewWebService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="mateo">
<input wsam:Action="http://WebService/NewWebService/mateoRequest" message="tns:mateo" />
<output wsam:Action="http://WebService/NewWebService/mateoResponse" message="tns:mateoResponse" />
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="suma">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="programa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="resta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiplicacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="division">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="mateo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/ServidorWebPractica/NewWebService" />
</port>
</service>
</definitions>