ClienteWeb/src/conf/xml-resources/web-service-references/Correo/wsdl/localhost_8080/ServidorWebPractica/Correo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="correo" type="tns:correo" />

<xs:element name="correoResponse" type="tns:correoResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="correo">
<xs:sequence>
<xs:element name="remitente" type="xs:string" minOccurs="0" />
<xs:element name="clave" type="xs:string" minOccurs="0" />
<xs:element name="destino" type="xs:string" minOccurs="0" />
<xs:element name="asunto" type="xs:string" minOccurs="0" />
<xs:element name="texto" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="correoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>