ServidorWebPractica/src/conf/xml-resources/web-service-references/NewWebService/wsdl/192.168.0.59_8080/WEBPSP/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller/" schemaLocation="http://192.168.0.59:8080/WEBPSP/NewWebService?xsd=1" />
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="helloPatri">
<part name="parameters" element="tns:helloPatri" />
</message>
<message name="helloPatriResponse">
<part name="parameters" element="tns:helloPatriResponse" />
</message>
<message name="multi">
<part name="parameters" element="tns:multi" />
</message>
<message name="multiResponse">
<part name="parameters" element="tns:multiResponse" />
</message>
<message name="division">
<part name="parameters" element="tns:division" />
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse" />
</message>
<message name="suma">
<part name="parameters" element="tns:suma" />
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse" />
</message>
<message name="randnumber">
<part name="parameters" element="tns:randnumber" />
</message>
<message name="randnumberResponse">
<part name="parameters" element="tns:randnumberResponse" />
</message>
<message name="resta">
<part name="parameters" element="tns:resta" />
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="mail">
<part name="parameters" element="tns:mail" />
</message>
<message name="mailResponse">
<part name="parameters" element="tns:mailResponse" />
</message>
<portType name="NewWebService">
<operation name="login">
<input wsam:Action="http://controller/NewWebService/loginRequest" message="tns:login" />
<output wsam:Action="http://controller/NewWebService/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="helloPatri">
<input wsam:Action="http://controller/NewWebService/helloPatriRequest" message="tns:helloPatri" />
<output wsam:Action="http://controller/NewWebService/helloPatriResponse" message="tns:helloPatriResponse" />
</operation>
<operation name="multi">
<input wsam:Action="http://controller/NewWebService/multiRequest" message="tns:multi" />
<output wsam:Action="http://controller/NewWebService/multiResponse" message="tns:multiResponse" />
</operation>
<operation name="division">
<input wsam:Action="http://controller/NewWebService/divisionRequest" message="tns:division" />
<output wsam:Action="http://controller/NewWebService/divisionResponse" message="tns:divisionResponse" />
</operation>
<operation name="suma">
<input wsam:Action="http://controller/NewWebService/sumaRequest" message="tns:suma" />
<output wsam:Action="http://controller/NewWebService/sumaResponse" message="tns:sumaResponse" />
</operation>
<operation name="randnumber">
<input wsam:Action="http://controller/NewWebService/randnumberRequest" message="tns:randnumber" />
<output wsam:Action="http://controller/NewWebService/randnumberResponse" message="tns:randnumberResponse" />
</operation>
<operation name="resta">
<input wsam:Action="http://controller/NewWebService/restaRequest" message="tns:resta" />
<output wsam:Action="http://controller/NewWebService/restaResponse" message="tns:restaResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://controller/NewWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://controller/NewWebService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="mail">
<input wsam:Action="http://controller/NewWebService/mailRequest" message="tns:mail" />
<output wsam:Action="http://controller/NewWebService/mailResponse" message="tns:mailResponse" />
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="helloPatri">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multi">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="division">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="suma">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="randnumber">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="resta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="mail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://192.168.0.59:8080/WEBPSP/NewWebService" />
</port>
</service>
</definitions>